

* {
    margin : 50;
    padding: 2px;
}

.header-container{
    max-width: 1500px;
    margin: 0 auto;
    border-bottom:1px solid #ccc;
    padding:5px
}

.navbar-nav a {
    color: purple;
  }
  
  .navbar-nav a:hover {
    color:mediumslateblue ;
  }